<html>
<!-- header-bot-->
<head>

</head>
<nav class=" navbar-white navbar-light" >
  <ul style="border-bottom: 2px solid grey;">
<div class="header-bot">
  <div class="header-bot_inner_wthreeinfo_header_mid">
    <!-- header-bot-->
    <div class="col-md-4 logo_agile">
      <h1>
        <a href="../../../index.html">
          <span>G</span>rocery
          <span>S</span>hoppy
          <img src="../../../assets/front%20template/images/logo2.png" alt=" ">
        </a>
      </h1>
    </div>
    <!-- header-bot -->
    <div class="col-md-8 header">
      <!-- header lists -->
      <ul>
        <li>
          <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
            <span class="fa fa-map-marker" aria-hidden="true"></span> Shop Locator</a>
        </li>
        <li>
          <a routerLink="orderAdd-route"  data-toggle="modal" data-target="#myModal1">
            <span class="fa fa-truck" aria-hidden="true"></span> Order</a>
        </li>
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span> 001 234 5678
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal1">
            <span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal2">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up </a>
        </li>
      </ul>
      <!-- //header lists -->


    </div>
  </div>
</div>
  </ul>

</nav>
</html>


