
<div class="main-header">
<div class="container" style="margin-top: 94px;">
    <h1>Produits du stock</h1>
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">( {{productlist ? productlist.length :('0') }} )</h6>
                                <table   class="table table-bordered w-50" cellspacing="1" style=" width: 100%; background: #dadada78; border-radius: 5px; padding: 7px; ">
                                <tr>
                                    <th>id Produit</th>
                                    <th>code</th>
                                    <th>Libelle</th>
                                    <th>Prix Unitaire</th>
                                </tr>
                                <tr *ngFor="let i of productlist;  ">    

                                    <th scope="row" > {{ i.idProduit }}</th>
                                   <td > {{ i.code }}</td>
                                   <td >{{ i.lieblle }}</td>
                                   <td>{{i.prixUnitaire}}</td>
                                   </tr>
                                </table>
                            </div>

 <router-outlet></router-outlet>
 

</div>
 